<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS361 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src='/js/associateSponsorship.js'></script>
  </head>
  <body>
  	<div class="container">
		<div class='jumbotron'>
			<div class='container'>
				<h1>Welcome, {{donor.first_name}}</h1>
			</div>
		</div>
		{{#if donorSponsoring.charity_name}}	
			<h3>Current Sponsorship is supporting {{donorSponsoring.charity_name}}</h3>
		{{else}}
			<h3>No current sponsorship! Choose a sponsorship to participate in!</h3>
		{{/if}}

		{{#if donorSponsoring.charity_name}}
		<!-- Don't display available sponsorships to sign up for if already associated with a sponsorship -->	
		<h2>Progress bar to show how far until goal:</h2>
		<div class="progress">
		 	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{donorSponsoring.cur_steps}}" aria-valuemin="0" aria-valuemax="{{donorSponsoring.sponsorship}}" style="width:{{donorSponsoring.progress}}%">
		    	{{donorSponsoring.progress}}%
		  	</div>
		</div>
		{{else}}
			{{#if sponsorships}}
			<div class="form-group" method="GET" id='sponsorshipChoice' action='/donor-dashboard'>
				<label>Available sponsorships</label>
				{{#each sponsorships}}
				<div class="radio">
				  <label><input type="radio" name="select-sponsorship" value="{{this.charity_id}}">{{this.charity_name}}, Required Steps = {{this.sponsorship}}, Current Steps = {{this.cur_steps}}</label>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{this.cur_steps}}" aria-valuemin="0" aria-valuemax="{{this.sponsorship}}" style="width:{{this.progress}}%">
					{{this.progress}}%
					</div>
				</div>
	  			{{/each}}
	  			<input type='hidden' id='donor_id' name='donor_id' value='{{donor.donor_id}}'>
				<button type="submit" class="btn btn-primary" id='submitSponsorshipChoice'>Submit</button>
			</div>
			{{else}} 
			<h2>Currently no available sponsorships</h2>
			{{/if}}
		{{/if}}
  	</div>
  </body>
</html>
