<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS361 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src='/js/createSponsorship.js'></script>  
  </head>
  <body>
  	<div class="container">
		<div class='jumbotron'>
			<div class='container'>
				<h1>Welcome, {{sponsor.sponsor_name}}</h1>
			</div>
		</div>	
		<form class="form-horizontal" method='GET' action='/sponsor-dashboard' id='createSponsorship'>
          <fieldset class="form-group">
            <legend>Select a Charity</legend>
            <div class='form-group'>
              <label class="col-sm-2 control-label">Name:</label>
              <div class="col-sm-6">
                <select class="form-control" id="charity-name" name='charity_id'>
                {{#each charities}}
                  <option value='{{this.charity_id}}'>{{this.charity_name}}</option>
                {{/each}}
                </select>
                <input type='hidden' id='sponor_id' name='sponsor_id' 
                value={{sponsor.sponsor_id}}>
              </div>
            </div>
            <div class='form-group'>
              <label class="col-sm-2 control-label">Amount $</label>
              <div class="col-sm-6">
                <input type='number' id='amount'name='amount'>
              </div>
            </div>
            <div class='form-group'>
              <label class="col-sm-2 control-label">Required Steps</label>
              <div class="col-sm-6">
                <input type='number' id='steps'name='steps'>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" id="submitSponsorship">
              </div>
            </div>
          </fieldset>
        </form> 
        <h2>Your sponsorships:</h2>
        <table class="table table-striped">
          <tr>
            <th>Charity Name</th>
            <th>Pledge Amount</th>
            <th>Required Steps</th>
          </tr>
          <tbody>
            {{#each sponsorships}}
            <tr>
              <td>{{this.charity_name}}</td>
              <td>{{this.donation_amount}}</td>
              <td>{{this.sponsorship}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{> linkToHome}}
  	</div>
  </body>
</html>